{% extends "base.html" %}
{% block center %}

    <div id="add_user" style="padding: 40px">
        <div id="ok" class="hid">添加成功</div>
        <form id="ad_user">
            {{ obj.name }}<br>
            {{ obj.pwd }}<br>
            {{ obj.ugrup }}<br>
            <button class="btn btn-outline btn-primary btn-lg btn-block">确定</button>
        </form>

    </div>
{% endblock %}

{% block script %}
    <script>
    $("#ad_user").children("button").click(
        $.ajax({
        url:"/add_user",
        type:"POST",
        data:$("#ad_user").serialize(),
        success:function () {
                return false
            },


        })
        event.stopPropagation()

    );


    </script>
{% endblock %}