{% extends "base.html" %}
　　{% block style %}

    {% endblock %}
{% block center %}
    <h1 class="page-header">主机信息</h1>
    <div id="status" style="background-color: red">{{ status }}</div>
    <button onclick="a_host()">添加</button>
    <div id="fix" class="fix hid">
        <div style="margin-top: 200px;width: 100px; margin-left: 40%">
            <div class="status"></div>
            <form action="/add_host" method="post">
                <label><input type="text" name="name" placeholder="主机名" ></label>
                <label><input type="text" name="ip" placeholder="IP"></label>
                <label><input type="text" name="port" placeholder="端口"></label>
                <label><input type="text" name="user" placeholder="主机名"></label>
                <button type="submit">确定</button>
                <button id="quit" type="button">取消</button>
            </form>
        </div>
    </div>

    <div id="fix2" class="fix hid">
        <input type="text" >
        <button onclick="fix2_exit()">取消</button>
    </div>
    <div id="host_info" style="padding: 20px;position: relative;">
    <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            主机信息
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>NAME</th>
                                        <th>IP</th>
                                        <th>PORT</th>
                                        <th>USER</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in host_list %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.name }}</td>
                                    <td>{{ i.ip }}</td>
                                    <td>{{ i.port }}</td>
                                    <td ><div class="host_info" host_id={{ i.id }}>详细</div>
                                    <div class="host_del" host_id={{ i.id }}>删除</div></td>
                                </tr>
                            {% endfor %}
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>


    </div>

{% endblock %}
{% block script %}

{% endblock %}