{% extends "base.html" %}
{% block center %}
<div style="padding: 60px">
    <div id="status" style="background-color: red">{{ status }}</div>
    <form>
        {{ obj.user }}
        可管理主机:
        {{ obj.s1 }}
        <div style="text-align: center;font-size: 25px;color: #3d3d3d">
            <i id="up" class="fa fa-arrow-circle-up fa-fw"></i>
            <i id="down" class="fa fa-arrow-circle-down fa-fw"> </i>
        </div>
        <br>
        不可管理:
        {{ obj.s2 }}
        <button>确定</button>
    </form>
</div>
{% endblock %}
{% block script %}
    <script>
    $(function () {
        $("#u").trigger("change");
    });
    $("#down").click(function () {
        var s = $("#hosts option:selected");
        s.clone().appendTo("#all_hosts");
        s.remove()
    });
    $("#up").click(function () {
        var s = $("#all_hosts option:selected");
        s.clone().appendTo("#hosts");
        s.remove()
    });
    $("#u").change(function () {
        $("#hosts").empty();
        $("#all_hosts").empty();
        var u = $("#u option:selected").attr("uid");
        $.ajax({
            url:"/get_hosts",
{#            type:"POST",#}
            type:"GET",
            data: {"uid": $("#u option:selected").val()},
            success:function (data) {
{#                alert(data);#}
                var d = $.parseJSON(data);
                var hosts = d.hosts;
                var all_hosts = d.all_hosts;
                console.log(hosts);
                console.log(all_hosts);
                if(hosts){
                    for (var i=0; i< hosts.length ; i++){
                    document.getElementById("hosts").options.add(new Option(hosts[i][2]+"-"+hosts[i][1], hosts[i][0]))
                    }
                }

                if(all_hosts){
                    for (var i=0; i< all_hosts.length ; i++) {
                    document.getElementById("all_hosts").options.add(new Option(all_hosts[i][2]+"-"+all_hosts[i][1], all_hosts[i][0]))
                    }
                }


                }


        });

    });


    </script>
{% endblock %}